# Relatório de Análise V

## Tratamento de Dados Faltantes

In [5]:
import pandas as pd

In [34]:
dados = pd.read_csv('csvfiles/aluguel_residencial.csv', sep = ';')

In [35]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [36]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

## Removendo Dados Nulos da Series Valor

In [30]:
dados['Valor'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Valor, Length: 22580, dtype: bool

In [40]:
dados.dropna(subset = ['Valor'], inplace = True)

In [32]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22571 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22571 non-null  object
 1   Bairro      22571 non-null  object
 2   Quartos     22571 non-null  int64
 3   Vagas       22571 non-null  int64
 4   Suites      22571 non-null  int64
 5   Area        22571 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20758 non-null  float64
 8   IPTU        15791 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [41]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [46]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Tratando a Series Condomínio

In [47]:
## Assumindo que todo Apartamento tem que ter Condomínio

In [53]:
dados[dados['Condominio'].isnull()].shape[0]

1813

In [55]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [56]:
dados = dados[~selecao]

## Atribuindo Valores Aos Nulos Restantes

In [59]:
dados = dados.fillna({'Condominio':0, 'IPTU':0})

In [60]:
dados[dados['Condominio'].isnull()].shape[0]

0

## Exportadando os Dados Tratados

In [61]:
dados.to_csv('csvfiles/aluguel_residencial.csv', sep = ';', index = False)